<!--To inherit-->
{% extends "base.html" %}

{% block title %} {% endblock %}

{%block content%}
<h3>Wir werden Ihren Anliegen nachgehen und uns bei Ihnen melden</h3><br>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nam id quam illum dolores aspernatur voluptatibus
    obcaecati nesciunt consequuntur ullam asperiores maiores, quidem doloremque esse atque repudiandae quasi soluta
    dolore numquam aliquid officiis laboriosam perferendis exercitationem debitis! Tempore ut ipsum magnam, rerum atque
    repudiandae aliquam sapiente dolores doloribus qui ipsa voluptate magni nulla explicabo maiores. Inventore
    blanditiis optio vitae assumenda minus ratione. Ullam quos dignissimos quidem molestiae provident ipsum sit enim eum
    voluptas explicabo, quia qui. Officiis, delectus exercitationem! Repudiandae obcaecati quis consequuntur quas
    officiis, cumque, sunt necessitatibus reprehenderit dolorem ab quia? Sunt obcaecati odit eaque facere voluptate quos
    doloremque? Maiores consectetur numquam dolor aut assumenda sed, ex veniam rem fugiat ad ipsam labore fuga nesciunt
    pariatur culpa ut, debitis totam sapiente. Commodi quisquam velit error, distinctio exercitationem facilis sapiente
    inventore quis nemo, minus delectus nisi quidem optio quia, eaque quibusdam saepe sed provident cumque recusandae
    pariatur temporibus! Sunt, explicabo nesciunt ea vel sint fugit assumenda eum dolorum nostrum consequuntur porro,
    distinctio suscipit provident ipsum est! Suscipit, fugiat eum excepturi libero eveniet distinctio in vitae eos
    delectus. Porro omnis pariatur voluptatibus eius voluptas sapiente, doloremque vero impedit veniam tempora quidem
    dolores recusandae mollitia ut sunt nihil expedita nam saepe. Neque voluptas eum amet quisquam deleniti blanditiis
    quos eos voluptate a dolorem ipsa veniam, nihil consectetur magni reprehenderit dolore maxime animi doloremque.
    Placeat iure maiores dolorum animi vero, perspiciatis quod temporibus nemo, recusandae explicabo pariatur nesciunt
    doloribus dolores ipsum veniam culpa exercitationem aspernatur quos corporis. Molestiae architecto quae nam sint
    necessitatibus. Natus, excepturi. Eveniet voluptate, magnam impedit provident labore sunt temporibus voluptas vitae
    fugiat minima saepe obcaecati? Inventore dolore facere ex rem amet molestias aperiam deserunt error nobis eaque.
    Voluptatum odit sit voluptas accusantium laboriosam tempore adipisci iste ex impedit qui fuga voluptatibus fugiat
    repellat ducimus quisquam alias officiis, soluta eum.</p>
{%endblock%}