<!--To inherit-->
{% extends "base.html" %}

{% block title %} {% endblock %}

{%block content%}
<p><b>Herzlich willkommen auf unserer Homepage</b></p><br>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit repellat voluptate dolor atque dolore accusamus
    explicabo expedita numquam nesciunt, asperiores ipsum quae culpa necessitatibus repellendus fuga eum, optio
    temporibus eligendi eius adipisci. Laboriosam aut corrupti consequuntur eligendi sapiente explicabo, maiores
    aspernatur? Possimus beatae iste odio doloremque, perferendis, ipsum adipisci, modi corporis pariatur est ratione.
    Minus ut consectetur cum adipisci asperiores nam dolorem, eius impedit inventore natus porro harum laboriosam
    eligendi ab! Quos quis sint odio dolores! Aspernatur, sapiente, inventore maxime corrupti nemo non repudiandae at
    pariatur nostrum similique illum. Maiores, architecto! Aut quasi tempora deleniti atque magni et quibusdam
    architecto numquam labore quod, porro soluta incidunt perferendis alias cumque sint placeat sed voluptas ipsum?
    Praesentium soluta ducimus sequi non aperiam obcaecati esse. Numquam minus ipsum adipisci omnis obcaecati qui,
    nostrum maiores quam commodi doloremque sapiente dolor ipsa, ipsam expedita architecto. Animi ab ipsam at ut,
    cupiditate veritatis totam mollitia explicabo expedita earum incidunt placeat quis, consequatur nemo, laborum
    pariatur dolorum sunt voluptatum saepe veniam eligendi eius facilis quos dolorem. Temporibus quis possimus
    necessitatibus culpa repudiandae expedita aliquid suscipit libero laboriosam, sit quo, earum totam excepturi officia
    aperiam quos pariatur. Consequuntur, aliquam reprehenderit. Placeat, delectus temporibus id quod unde voluptatum
    similique porro mollitia recusandae consequuntur explicabo cumque a, debitis, minus velit aperiam veniam nostrum
    rerum incidunt officia deserunt! Architecto aliquid quisquam quae distinctio porro delectus quaerat fugiat,
    voluptatibus iusto quasi repellat aperiam libero blanditiis sapiente culpa id in accusantium tenetur eum nam.
    Deserunt obcaecati vel cumque nemo nam labore repellat dolore temporibus, et mollitia exercitationem harum
    distinctio earum nisi illo praesentium, libero soluta eligendi quis minus beatae. A doloremque perspiciatis
    necessitatibus dolorem, soluta nemo vero ipsum ea quisquam repellat earum voluptates debitis obcaecati consequuntur
    provident. Asperiores tempore esse placeat vitae vero quam deleniti magnam ullam suscipit ducimus. Magnam omnis
    error facere.</p>
{%endblock%}