<!--To inherit-->
{% extends "base.html" %}

{%block title%} Moschee Arrhama-Verein Basel {%endblock%}

{%block content%}

<p><b>Herzlich willkommen auf unserer Homepage</b> </p> <br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores aperiam, consequuntur, temporibus
    ipsam minima
    eos dolorum vero facere alias distinctio nobis? Adipisci asperiores, assumenda voluptatem officia enim,
    veritatis,
    nisi quae optio non neque nesciunt harum similique accusamus dolorum ipsa aliquam nihil doloremque
    maiores animi
    nobis ullam ab obcaecati consequatur aperiam! Modi inventore omnis harum veritatis vero illo autem id
    doloremque
    earum consequuntur. Ipsa tempora, quam atque eligendi natus nesciunt beatae dolorem debitis consequatur
    magni id
    velit ullam blanditiis placeat? Et fugiat tempore sint odio in nihil iste optio delectus, quasi eum
    mollitia
    accusamus nemo explicabo illum maxime ex nostrum fugit rem porro. Impedit autem earum incidunt
    dignissimos
    voluptatibus corrupti modi, dolore ex! Ab sed dolor sequi tempore nemo incidunt magni magnam in cum
    quas? Eveniet
    quia veritatis quisquam earum et accusamus sunt aspernatur, asperiores dolore. Officia ab laborum
    nostrum modi
    similique. Unde, suscipit natus, animi veniam rerum dignissimos facere officiis nulla harum aliquid eius
    qui
    repellat vel perferendis mollitia hic quidem ullam optio, magnam quo. Animi ex, quidem veniam tenetur
    ipsa aut amet
    nihil fugit obcaecati voluptatibus! Obcaecati aperiam corrupti enim facere tempore, consequuntur culpa
    quis commodi
    dolor deleniti ullam in laborum excepturi perferendis quas vel veritatis velit tenetur laudantium harum
    vero dolore
    aliquam. Quo veritatis libero aliquam explicabo eligendi temporibus earum maxime eos unde adipisci
    laudantium quia
    illum architecto eveniet, possimus, sunt tenetur suscipit quos vel consequatur. Eum nam provident
    voluptates.
    Necessitatibus reiciendis sint quae dolorum hic illo eum ipsa expedita? Illo saepe quaerat ut
    dignissimos mollitia
    numquam natus ratione dolorem a? Quasi odit praesentium quas tempore quo magni dignissimos, ut magnam
    consequuntur
    id. Alias odit nam doloremque reiciendis nesciunt id quasi consequuntur repudiandae dolores facilis,
    aliquam cumque
    tenetur excepturi, voluptatum impedit dicta sunt repellendus! Incidunt minus, itaque earum, rem
    repudiandae atque
    consectetur iure ad aliquid tempore fugit?</p>
{%endblock%}